@use 'variables' as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    box-sizing: border-box;
}

h1{
    font-family: v.$titulo;
    font-weight: 700;
}

h2,
h3 {
    font-family: v.$subtitulo;
    font-weight: 500;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

p {
    font-size: 1.6rem;
    font-family: v.$parrafo;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

label, input{
    font-family: v.$parrafo;
}
