//Colores
$negro : #000;
$blanco : #fff;
$celeste : #46DCFF; 
$rojo : rgb(204, 38, 38);
$verde : rgb(18, 160, 18);

//Fuentes
$titulo : 'Unbounded', cursive;
$subtitulo : 'Plus Jakarta Sans', sans-serif;
$parrafo : 'Plus Jakarta Sans', sans-serif;