@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
    justify-content: space-between;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: v.$blanco;
    padding: 1rem;
    height: 12rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 7px v.$negro;

    @include m.tablet {
        flex-direction: row;
        height: 12rem;
        justify-content: space-between;
    }

    .logotipo {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            height: 85%;
            min-width: 10rem;

            @include m.tablet {
                margin-left: 9rem;
                max-height: 100%;
            }

        }
    }

    .navegacion {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display: none;

        @include m.laptop {
            display: flex;
            margin: 0;
        }
    }

    .mostrar {
        display: flex;
        flex-direction: column;
        z-index: 999;
    }


    ul {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        position: relative;

        @include m.laptop {
            background-color: transparent;
            flex-direction: row;
            align-items: center;
        }

        li {
            font-family: v.$subtitulo;



            @include m.laptop {
                margin-right: 3rem;
            }

            @include m.desktop {
                margin-right: 6rem;
            }

            font-size: 1.8rem;
        }

        a {
            color: v.$blanco;
            position: relative;
            white-space: nowrap;

            @include m.laptop {
                color: v.$negro;
            }
        }

        .menu-enlace {

            &::after {
                content: "";
                display: block;
                height: .3rem;
                width: 0%;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: v.$negro;
                transition: .5s;
                margin-right: 50%;

            }

            &::before {
                content: "";
                display: block;
                height: .3rem;
                width: 0%;
                position: absolute;
                bottom: 0;
                margin-left: 50%;
                background-color: v.$negro;
                transition: .3s;
            }


            &:hover::after,
            &:hover::before {
                width: 50%;
                display: none;

                @include m.phone {
                    background-color: v.$blanco;
                }

                @include m.laptop {
                    background-color: v.$negro;
                    display: block;
                }
            }

        }
    }

    .menu-hamburguesa {
        background-color: transparent;
        border: none;

        @include m.tablet{
            margin-right: 9rem
        }

        @include m.laptop {
            display: none;
        }

        img {
            max-width: 5rem;
        }
    }

    .offcanvas {
        background-color: transparent;
        backdrop-filter: blur(8px);
        display: block;
        
.btn-close{
    filter: invert(100);
    }
        @include m.laptop {
            display: none;
        }

        & ul {
            display: flex;
            flex-direction: column;
        }

        p {
            color: v.$blanco;
        }

    }
}

.enlace-activo{
    border-bottom: solid 3px;
}